@import '../../index.scss';

.nous {
    margin: 5% auto;
    text-align: center;

    h1 {
        font-style: normal;
        margin: auto; 
        text-align: center;
        width: 46%;
        font-weight: 150;
        letter-spacing: .17rem;
        font-size: 2em;
        margin-bottom: 1%;

        @include respond(tab-port) {
            font-size: 42px;
            line-height: 50px;
        }

        @include respond(phone) {
            font-size: 1.5em;
            width: 96%;
        }
    }

    h2 {
        margin: 1% auto 3%;
        font-size: 34px;
        font-family: $style-oui;
        color: #f6ece5;
        letter-spacing: .8rem;
        font-weight: 900;

        @include respond(tab-port) {
            font-size: 22px;
        }

        @include respond(phone){
            letter-spacing: .4rem;
            margin: 0 auto;
        }
    }

    .text {
        width: 90%;
        margin: 0 auto;
        text-align: center;

        p {
            font-size: 17px;
            width: 80%;

            @include respond(tab-port) {
                font-size: 16px;
            }

            @include respond(phone){
                font-size: 14px;
                width: 90%;
            }

            h4 {
                font-size: 22px;
            }
        }
    }

}