@import '../../index.scss';
  
.introduction {
    margin: 5% auto;
    width: 100%;
    height: auto;

    @include respond (phone){
        width: 85%;
        height: auto;
    }

    @include respond(tab-port){
        width: 90%;
        height: auto;
    }

    .section1 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 260px;
        margin: -40px auto 40px;

        &__title {
            text-transform: uppercase;
            letter-spacing: 2px;
            position: relative;
            top: -20%;

            @include respond(tab-port){
                letter-spacing: 1px;
                left: 0%;
            }

            h1 {
                font-size: 44px;

                @include respond(tab-port){
                    font-size: 34px;
                }

                @include respond(phone){
                    display: none;
                    margin-top: 5%;
                }
            }

            h4 {
                font-size: 22px;
                font-weight: 100;

                @include respond(tab-port){
                    font-size: 14px;
                }

                @include respond(phone){
                    margin-top: -12%;
                }
            }
        }
    }

    .section2 {
        position: relative;
        top: -40px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;

        @include respond(tab-port){
            margin-top: 5%;
        }

        @include respond(phone){
            margin-top: -20%;
        }

        &__row {
            display: flex;
            flex-wrap: wrap;
            width: 95%;
            margin: 0 auto;
            justify-content: space-between;

            @include respond(tab-port){
                width: 100% ;
            }

            .card {
                width: 17%;
                height: 400px;
                background-color: $idylle-color;
                padding: 2rem 1rem;
                position: relative;
                display: flex;
                align-items: flex-end;
                box-shadow: 0 5px 10px rgba($color: #000000, $alpha: .7);
                transition: .5s ease-in-out;

                &:nth-child(1){
                    background-color: #cfaf91;
                }

                &:nth-child(2) {
                    background-color: #c7b9a9;
                }
                
                &:nth-child(3) {
                    background-color: #c7b2a1;
                }

                &:nth-child(4) {
                    background-color: #caab7c;
                }

                @include respond(tab-port) {
                    height: 300px;
                    margin-bottom: 5%;
                }

                @media (max-width : 750px) {
                    flex: 0 0 38%;
                    margin: -10px auto 45px;
                }

                @include respond(phone){
                    flex: 0 0 60%;
                    height: 300px;
                    margin: -25px auto 45px;
                }



                @include respond(tab-port) {
                    a { 
                        width: 100%;
                        position: relative;
                        bottom: -20px;
                        text-decoration: none;
                        background: inherit;
                        color: #000;
                        letter-spacing: 3px;
                        text-align: center;
                        font-size: 14px;
                        font-weight: bold;
                        cursor: pointer;
                        transition: .4s ease-in-out;
                        //box-shadow: 0 5px 10px rgba($color: #000, $alpha: .7);
                        z-index: 100;
                    }
                }

                &:hover {
                    transform: translateY(-20px);

                    .info {
                        opacity: 1;
                        transform: translateY(0px);
                    }

                    &::before {
                        opacity: 1;

                        @include respond(tab-port){
                            display: none;
                        }
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(to bottom, rgba(118, 106, 94, 0.8), rgba(146, 131, 117, 0.699));
                    z-index: 2;
                    transition: .5s all;
                    opacity: 0;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                    position: absolute;
                    top: 0;
                    left: 0;

                    @include respond(tab-port){
                       height: 90%;
                       width: 100%;
                    }
                }

                .info {
                    position: relative;
                    z-index: 3;
                    color: #fff;
                    opacity: 0;
                    transform: translateY(30px);
                    transition: .5s all;

                    @include respond(tab-port){
                        display: none;
                    }

                    h1 {
                        margin: 0;
                    }

                    p {
                        letter-spacing: 1px;
                        font-size: 15px;
                        margin: 8px 0px 20px 0px;
                    }

                    a {
                        text-decoration: none;
                        padding: 0.5rem 1rem;
                        background: #fff;
                        color: #000;
                        font-size: 14px;
                        font-weight: bold;
                        cursor: pointer;
                        transition: .4s ease-in-out;

                        &:hover{
                            box-shadow: 0 5px 10px rgba($color: #000000, $alpha: .7);

                        }
                    }
                }
            }
        }
    }
}
