@import '../index.scss';

.footer {
    position: relative;
    bottom: 0;
    left: -6%;
    width: 111.5%; 
    background-color: rgb(0, 0, 0, 0.31);
    height: auto;

    .container {
        display: flex;
        justify-content: space-around;
        text-align: center;
        width: 47%;
        margin: 0 auto;

        @include respond(tab-port){
            width: 80%;
        }

        @include respond(phone){
            width: 95%;
        }

        a {
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1rem;
            transition: .3s all ease-in-out;
            opacity: .7;
            margin: 10px 5px 5px 0;

            @include respond(tab-port){
                font-size: .98rem;
            }
    
            @include respond(phone){
                font-size: .7rem;
                width: 100%;
            }

            &:hover {
                font-size: 1.1rem;
                transition: .3s all ease-in-out;
                opacity: .9;
            }
        }

    }

    hr{
        width: 50%;
        margin: 0 auto;
        opacity: .8;

        @include respond(tab-port){
            width: 80%;
        }

        @include respond(phone){
            width: 75%;
        }
    }

    .col-sm {
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        width: 35%;
        margin: 0 auto;
        opacity: .7;

        @include respond(tab-port){
            font-size: 10px;
            width: 55%;
        }

        @include respond(phone){
            font-size: 9px;;
            width: 85%;
        }

        a {
            color: #fff;   
        }
    }

    /* .container {
        width: 100%;

        .row {
            display: flex;
            justify-content: space-around;
            align-items: center;
    
            .col {
                img {
                    height: 140px;
                    width:  300px;
                }
    
                .unstyle {
                    list-style: none;
                    line-height: 30px;
                }

                a {
                    color: inherit;
                    text-decoration: none;

                }
                
                svg {
                    height: 80px;
                    width: 40px;
                    margin-left: 10px;
                }
                #insta:hover {
                    color: #F77737;
                    transition: 0.3s ease-in-out;
                }

                #facebook:hover {
                    color: #3b5998;
                    transition: 0.3s ease-in-out;
                }
            }
    
        }

        @include respond(tab-port) {
            .row {
                padding: 0 5rem;
                height: 220px;
                width: 100%;
                margin-left: -80px;

                .col {
                    margin: auto 5%;
                    img {
                        display: none;
                    }
                }
            }
        }
    }

    .col-sm{
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        a {
            margin: auto 20px;
            text-decoration: none;
            color: #fff;
        }

        @include respond(tab-port) {
            font-size: 8px;
            a {
                margin-left: 10px;
            }
        }
    }
    */
}
