@import '../index.scss';

.footer {
    position: relative;
    bottom: 0;
    width: 100%;

    .container {
        width: 100%;

        .row {
            display: flex;
            justify-content: space-around;
            align-items: center;
    
            .col {
                img {
                    height: 180px;
                    width: 350px;
                }
    
                .unstyle {
                    list-style: none;
                    line-height: 30px;
                }

                a {
                    color: inherit;
                    text-decoration: none;

                }
                
                svg {
                    height: 80px;
                    width: 40px;
                    margin-left: 10px;
                }
                #insta:hover {
                    color: #F77737;
                    transition: 0.3s ease-in-out;
                }

                #facebook:hover {
                    color: #3b5998;
                    transition: 0.3s ease-in-out;
                }
            }
    
        }

        @include respond(tab-port) {
            .row {
                padding: 0 5rem;
                height: 220px;
                width: 100%;
                margin-left: -80px;

                .col {
                    margin: auto 5%;
                    img {
                        display: none;
                    }
                }
            }
        }
    }

    .col-sm{
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        a {
            margin: auto 20px;
            text-decoration: none;
            color: #222;
        }

        @include respond(tab-port) {
            font-size: 8px;
            a {
                margin-left: 10px;
            }
        }
    }
   
}
