@import '../../style/index.scss';

h1 {
  margin: 100px auto 50px;
  width: 70%;
  text-align: center;
  text-transform: uppercase;

  @include respond(tab-port){
    width: 65%;
    font-size: 1.8rem;
  }

  @include respond(phone){
    font-size: 1.5rem;
    width: 90%;
  }
}

.slides {
    display: grid;
    overflow: hidden;
    margin-bottom: 10%;

    > .slide {
      grid-area: 1 / -1;
      position: relative;
      right: -38%;

      @include respond(phone){
        right: -30%;
    }
    }
   
    > button {
      background: transparent;
      border: none;
      color: white;
      position: absolute;
      font-size: 5rem;
      width: 5rem;
      height: 5rem;
      transition: opacity 0.3s;
      opacity: 0.7;
      z-index: 5;
  
      &:hover {
        opacity: 1;
        cursor: pointer;
      }
  
      &:focus {
        outline: none;
      }
  
      &:first-child {
        left: 0;
        margin-top: 15%;
      }
      &:last-child {
        right: 0;
        margin-top: 15%;
      }
    }
}
  .slideContent {
    width: 21%;
    height: 400px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform 0.5s ease-in-out;
    opacity: 0.7;
  
    display: grid;
    align-content: center;
  
    transform-style: preserve-3d;
    transform: perspective(1000px) translateX(calc(100% * var(--offset)))
      rotateY(calc(-45deg * var(--dir)));

      @include respond(tab-port) {
        height: 350px;
      }

      @include respond(phone){
        height: 275px;
        width: 36%;
      }

      @media only screen and (max-width: 400px) {
        height: 175px;
      }

      a {
        color: #fff;
        text-decoration: none;
    
        @include respond(phone){
          opacity: 0;
        }
      }
  }


  
  .slideContentInner {
    transform-style: preserve-3d;
    transform: translateZ(2rem);
    transition: opacity 0.3s linear;
    text-shadow: 0 0.1rem 1rem #000;
    opacity: 0;
  

    .slideSubtitle,
    .slideTitle {
      font-size: 1.6rem;
      font-weight: normal;
      letter-spacing: 0.2ch;
      text-transform: uppercase;
      margin: 0;

       @include respond(tab-port){
        font-size: 80%;
      }

      @include respond(phone){
        font-size: 70%;
      } 
    }
  
    .slideSubtitle::before {
      content: "— ";
    }
  
    .slideDescription {
      margin: 0;
      font-size: 0.8rem;
      letter-spacing: 0.2ch;
      
    }
  }
  
  .slideBackground {
    position: fixed;
    top: 0;
    left: -10%;
    right: -10%;
    bottom: 0;
    background-size: cover;
    background-position: center center;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s linear, transform 0.3s ease-in-out;
    pointer-events: none;
  
    transform: translateX(calc(10% * var(--dir)));
  }
  

  
  .slide[data-active] {
    z-index: 2;
    pointer-events: auto;
  
    .slideBackground {
      transform: none;
    }
  
    .slideContentInner {
      opacity: 1;
    }
  
    .slideContent {
      --x: calc(var(--px) - 0.5);
      --y: calc(var(--py) - 0.5);
      opacity: 1;
  
      transform: perspective(1000px);
  
      &:hover {
        transition: none;
        transform: perspective(1000px) rotateY(calc(var(--x) * 45deg));
        transition: .1s all ease-in-out;
      }
    } 
  }
  