@import '../../../index.scss';

.weddingP {

    h1 {
        margin: 0 auto;
        text-align: center;
        border-bottom: 3px solid #fff;
        width: 15%;

        @include respond(tab-port){
            width: 23%;
            margin-top: 12px;
        }
    
        @include respond(phone){
            width: 35%;
        }
    }

    .model {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(17, 17, 17, 0.952);
        transition: opacity .4s ease, visibility .4s ease transform 
        5s ease-in-out;
        visibility: hidden;
        opacity: 0;
        transform: scale();
        overflow: hidden;
        z-index: 999;

        img {
           width: 500px;
           max-width: 100%;
           height: 500px;
           max-height: 100%;
           display: block;
           line-height: 0;
           box-sizing: border-box;
           padding: 20px 0 20px; 
           margin: 0 auto;

           @include respond(tab-port){
            width: 380px;
            height: 420px;
           }

           @include respond(phone) {
            width: 280px;
            height: 320px;
           }
        }
    }

    .model.open {
            visibility: visible;
            opacity: 1;
            transform: scale(1);

            svg {
                position: fixed;
                top: 10px;
                right: 10px;
                width: 3rem;
                height: 3rem;
                padding: 5px;
                background-color: rgba(17, 17, 17, 0.952);                
                color: #fff;
                cursor: pointer;
            }
    }

    .container {
        width: 95%;
        margin: 50px auto;
        padding: 10px;

        @include respond(tab-port){
            margin-top: 30px;
            width: 85%;
            position: relative; 
            left: 3%;
        }

        @include respond(phone){
            width: 94%;
        }

        &__row{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
            align-items: center;
        }

        &__content {
            margin: 0 50px 25px 0;
            flex-basis: calc(100/3);
            text-align: center;
            overflow: hidden;
            cursor: pointer;

            img {
                height: 300px;
                width: 300px;
                object-fit: cover;

                @include respond(tab-port){
                    height: 280px;
                }
        
                @include respond(phone){
                    height: 250px;  
                }

                &:hover{
                    transform:scale(1.1);
                }
            }
        }

        .callToAction {
            margin: 0 auto;
            background-color: inherit;
            border: none;
            text-decoration: none;
            padding: 15px 15px;
            cursor: pointer;
            position: relative;
            left: 45%;
            border-radius: 8px;
            border: 2px solid $idylle-color;
            color: #fff;
            overflow: hidden;

            @include respond(tab-port) {
                left: 34%;
            }

            @include respond(phone){
                left: 20%;
            }

            &::before {
                width: 50%;
                height: 100%;
                content: "";
                margin: auto;
                position: absolute;
                top: 0%;
                left: -50%;
                background: $idylle-color;
                transition: all 0.5s ease;
                z-index: -1;
              }
              
              &::after {
                width: 50%;
                height: 100%;
                content: "";
                margin: auto;
                position: absolute;
                top: 0%;
                left: 100%;
                background: $idylle-color;
                transition: all 0.5s ease;
                z-index: -1;
              }

              &:hover {
                font-weight: bolder;
                font-size: 14px;
              }

              &:hover:before {
                top: 0;
                left: 0;
              }
              
              &:hover:after {
                top: 0;
                left: 50%;
              }
        } 
    }
}