@import '../../index.scss';

.form {
    .bg {
        background: url("../../../medias/idylle_cadre_flou.jpg") no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
        position: fixed;
        top: -5px;
        left: 0;
        right: 0;
        filter: blur(5px);
        z-index: -50;
    }

    .title {
        z-index: 1000;
        color: #fff;
        text-align: center;
        position: relative;
        top: 50px;
        width: 100%;
        margin: -5% auto 10%;

        h1 {
            font-size: 2.6em;
            text-transform: uppercase;
            font-weight: 200;
            letter-spacing: 3px;

            @include respond(tab-port) {
                font-size: 2em;
            }
        }

    }
    
    .container {
        z-index: 1000;
        margin: 5% auto;
        padding: 2% 5%;
        border-radius: 6px;
        width: 80%;
        background-color: #fff;
        opacity: .9;
        -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 1px 1px 10px 6px rgba(0,0,0,0); 
        box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 1px 1px 10px 6px rgba(0,0,0,0);
        
        @include respond(tab-port) {
            margin-top: 15%;
            width: 92%;
        }

        form{
            font-size: 24px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2%;
            width: 90%;
            color: #000;

            @include respond(tab-port) {
                font-size: 20px;
            }


            .propal {
                position: relative;
                top: -13px;
                line-height: 12px;
            }

            p {
                line-height: 40px;
                margin-bottom: 20px;

                @include respond(tab-port) {
                    line-height: 30px;
                }

                span {
                    font-size: 12px;
                    font-style: italic;

                    @include respond(tab-port) {
                        font-size: 9px;
                    }
                }
            }

            label {
                display: block;
                width: auto;    //265px
                float: left;

            }

            select {
                width: 100%;
                padding: 15px 5px;
                border-radius: 12px;
                border: 0.8px solid;
                font-size: 13px;

                @include respond(tab-port) {
                    padding: 10px 2.5px;
                }

                option {
                    background-color: rgba($color: #333, $alpha: 0.1);
                }
            }


            input {
                width: 100%;
                padding: 15px 5px;
                border-radius: 12px;
                border: 0.8px solid;
                font-size: 13px;
                transition: .5s all;

                @include respond(tab-port) {
                    padding: 10px 2.5px
                }

                /* &[type="submit"]{
                    margin: 5% auto;
                    width: 20%;
                    cursor: pointer;
                    font-size: 70%;
                    padding: .5rem .7rem;
                    letter-spacing: 3px;
                    color: #000;
                    border-color: #000000;

                    
                    background-image: linear-gradient(0, $idylle-color, $idylle-color);
                    background-size: 0 0;
                    transition: .8s;
                    background-repeat: no-repeat;
                    background-position: center;
                    transition-timing-function: ease-in-out(0.52, 1.64, 0.37, 0.66);


                    @include respond(tab-port) {
                        width: 70%;
                    }

                    &:hover {
                        font-size: 20px;
                        background-size: 100% 100%;
                        color: #fff;
                        
                    }
                } */
            
            }

            /*------------Bouton---------------*/
            button {
                font-family: inherit;
                font-size: 20px;
                background: $idylle-color;
                color: white;
                padding: 0.5em .8em;
                padding-left: 0.9em;
                display: flex;
                align-items: center;
                border: none;
                border-radius: 16px;
                overflow: hidden;
                transition: all 0.2s;
                margin: 0 auto;

                @include respond(phone){
                    padding: .2em .5em;
                    font-size: 18px;
                }
              }
              
              button span {
                display: block;
                margin-left: 0.3em;
                transition: all 0.3s ease-in-out;
              }
              
              button svg {
                display: block;
                transform-origin: center center;
                transition: transform 0.3s ease-in-out;
              }
              
              button:hover .svg-wrapper {
                animation: fly-1 0.6s ease-in-out infinite alternate;
              }
              
              button:hover svg {
                transform: translateX(1.9em) rotate(45deg) scale(1.1);
              }
              
              button:hover span {
                transform: translateX(5em);
              }
              
              button:active {
                transform: scale(0.95);
              }
              
              @keyframes fly-1 {
                from {
                  transform: translateY(0.1em);
                }
              
                to {
                  transform: translateY(-0.1em);
                }
              }
              
            /*-----------------------------------------------------*/

            .radioRow {
                //overflow: hidden;
                margin-bottom: 10%;
                margin-top: 5%;

                .left {
                    float: left;
                    
                    label {
                        margin-right: 10px;
                        width: auto;
                    }
                }

                .right {
                    float: left;

                    label {
                        margin: 0 20px;
                        width: auto;

                        input {
                            width: auto;
                            margin: 0 10px;
                        }
                    }

                    @include respond(tab-port) {
                        float: left;
                        margin-left: -30px;
                    }
                }
            }
        }
    }
    
}