@import '../App.scss';

@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Noto+Serif&display=swap&family=Dancing+Script&display=swap&family=Signika&display=swap');
//family=Poppins:wght@300&display=swap    'Poppins', sans-serif;

// Variable globale du code
$idylle-color : #dcb993;
$idylle-text : 'Noto Serif', serif;
$idylle-style : 'Dancing Script', cursive;
$style-oui : 'Signika', sans-serif;

// Mixins
@mixin line {
  border: 1.9px solid;
  width: 120px;
  margin-bottom: 2%;
}

@mixin background {
  background: no-repeat center linear-gradient(rgba(40, 40, 40, 0.35), rgba(66, 66, 59, 0.8)), url('../medias/background.png');
  background-size: cover;
  background-attachment: fixed;
}

*, 
*::after, 
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  width: 90%;
  margin: 0 auto;
  scroll-behavior: smooth;
  font-size: 90%;
  min-height: 100vh;
  font-family: $idylle-text;
  @include background;
  color: #fff;
  
}

body {  
  //font-family: Arial, Helvetica, sans-serif;
  font-family: $idylle-text;
  font-weight: 100;
  box-sizing: border-box;
}



//mixin
@mixin respond($breakpoint) {
   @if $breakpoint == phone {
    @media only screen and (max-width: 570px) {
      @content;
    }
  } 

  @if $breakpoint == tab-port {
    @media screen and (max-width: 900px) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 1200px) {
      @content;
    }
  }
}

.container {
  max-width: 114rem;
  padding: 0.8rem;

  @include respond(phone) {
    padding: 0 2rem;
  }
}

.active {
  color: #fff !important;
  font-size: 20px;
  border-bottom: 3px solid  $idylle-color;

  
  @include respond(tab-land) {
    font-size: 1.1rem;
}

  @include respond(tab-port) {
    background-color: #c7ae94 !important;
    color: #333 !important;
  }
}