@import '../index.scss';

.portfolio {

    h1 {
        margin: 0 auto;
        text-align: center;
        border-bottom: 3px solid #fff;
        width: 21%;

        @include respond(tab-port){
            width: 25%;
        }
    
        @include respond(phone){
            width: 36%;
        }
    }

    .insta {
        display: none;

        @include respond(phone) {
            display: block;
            position: fixed;
            right: 2%;
            bottom: 8%;
            
            color: white;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: $idylle-color;
            
            a {
                text-decoration: none;
                color: white;
            }
            
            svg {
                padding: 5px;
                height: 40px;
                width: 40px;
            }
        }
    }
}