@import '../index.scss';

.wedding {
    .insta {
        display: none;

        @include respond(tab-port) {
            display: block;
            position: fixed;
            right: 2%;
            bottom: 8%;

            color: white;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: $idylle-color;

            a {
                text-decoration: none;
                color: white;
            }

            svg {
                padding: 5px;
                height: 40px;
                width: 40px;
            }
        }
    }

    .title {
        margin-top: 2%;
        text-align: center;

        h1 {
            margin: 20px auto 0;
            text-align: center;
            width: 40%;
            border-bottom: 2px solid #fff;
            margin-bottom: 30px;

            @include respond(tab-port) {
                width: 45%;
            }

            @include respond(phone) {
                width: 35%;
            }
        }
    }

    p {
        width: 80%;
        margin: auto;
        text-align: center;
        font-size: 17px;

        &::first-letter {
            text-transform: uppercase;
            font-size: 24px;
        }

        @include respond(phone) {
            font-size: 14px;
        }
    }

    .model {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(17, 17, 17, 0.952);
        transition: opacity .4s ease, visibility .4s easen transform 5s ease-in-out;
        visibility: hidden;
        opacity: 0;
        transform: scale();
        overflow: hidden;
        z-index: 999;

        img {
            width: 500px;
            max-width: 100%;
            height: 500px;
            max-height: 100%;
            display: block;
            line-height: 0;
            box-sizing: border-box;
            padding: 20px 0 20px;
            margin: 0 auto;
        }
    }

    .model.open {
        visibility: visible;
        opacity: 1;
        transform: scale(1);

        svg {
            position: fixed;
            top: 10px;
            right: 10px;
            width: 3rem;
            height: 3rem;
            padding: 5px;
            background-color: rgba(0, 0, 0, 0.4);
            color: #fff;
            cursor: pointer;
        }
    }

    .container {
        width: 95%;
        margin: 50px auto;
        padding: 10px;

        &__row {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;

            @include respond(phone) {
                margin: 0 20px;
            }
        }

        &__content {
            margin: 0 50px 25px 0;
            flex-basis: calc(100/3);
            text-align: center;
            overflow: hidden;
            cursor: pointer;

            img {
                height: 300px;
                width: 300px;
                object-fit: cover;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    .footer {
        .container {
            width: 66%;
            margin: 0 auto;

            @include respond(phone) {
                margin: 0;
            }
        }

        .col-sm {
            p {
                font-size: 12px;
            }

            @include respond(phone) {
                display: none;
            }
        }
    }
}